<form action="/logbooks" method="post">
  <label>Logbook Title:</label>
  <input type="text" name="logbook[name]" placeholder="Logbook Title"><br></br>
  <input type="submit" value="Create Logbook">
</form>
