<h1><%= @logbook.name %></h1>
<a href="/logbooks/<%= @logbook.id %>/delete">Delete Logbook</a>

<ul>
  <% @logbook.log_entries.each do |log_entry| %>
    <li><a href="#"><%= log_entry.date %>, <%= log_entry.location %></a></li>
  <% end%>
</ul>
