<!DOCTYPE html>
<html>
  <head>
    <title>Fishing Logbook</title>
  </head>
  <body>
    <% if !!session[:user_id] %>
      Welcome, <%= "#{current_user.username}" %>!
      <a href="/logout">Sign Out</a><br>
    <% else %>
      Welcome!
      <a href="/signup">Sign up</a>
      <a href="/login">Log In</a><br>
    <% end %>
    <br></br>
    <%= yield %>

  </body>
</html>
